@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/pagination";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.slide-overlay {
    position: fixed; /* これが必要！ */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 300ms ease-in-out;
    opacity: 1;
    z-index: 10; /* 必要なら指定 */
  }
.ReactModal__Overlay--after-open.slide-overlay {
    opacity: 1;
}
  
.ReactModal__Overlay--before-close.slide-overlay {
    opacity: 0;
}
  
  /* モーダル本体 */
.slide-modal {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 300px;
    background: rgb(255, 255, 255);
    transform: translateX(100%);
    transition: transform 300ms ease-in-out;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
    padding: 1rem;
    overflow-y: auto;
}
  
.ReactModal__Content--after-open.slide-modal {
    transform: translateX(0);
}
  
.ReactModal__Content--before-close.slide-modal {
    transform: translateX(100%);
}
  
.sidebar-link {
  display: block;
  padding: 12px 20px;
  margin: 4px 8px;
  border-radius: 6px;
  color: #4a5568; /* グレー */
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: 500;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.sidebar-link:hover {
  background-color: #ebf8ff; /* 薄い青背景 */
  color: #2b6cb0; /* 濃い青文字 */
}

p{
  color:#4a5568
}